<%if(theme.friends && theme.friends.length != 0){%>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('links') %></h3>
    <div class="widget">
    <% for (var i in theme.friends){ %>
    <%- link_to(theme.friends[i], i, {external: true}) %>
    <% } %>
    </div>
  </div>
<% } %>
